extends layout

block content
  .row.justify-content-center
    .col-md-8.text-center
      h1.mb-4 Bienvenido a Agenda de Viajes
      p.lead Sistema de gestión de clientes para agencias de viajes
      .mt-4
        a.btn.btn-primary.btn-lg(href="/clients") Gestionar Clientes 